/* Variables */
:root{
    --principal-font: sans-serif;
    --font-size: larger;
    --total-bg-color: rgb(200, 247, 255);
    --headers-color:blanchedalmond;
    --board-color: burlywood;
    --border-radius-1:0.25rem;
    --text-color: black;
}

/* GENERAL */

a{
    text-decoration: none;
    color:var(--text-color);
}

/* Back button */
#back-button{
    position:fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    width: clamp(50px, 10%, 75px);
    left:1vw;
    top: 1vh;
    border-radius: 100%;
    background-color: gray;
    text-decoration: none;
    opacity: 50%;

    /* HOVER */
    transition: opacity 0.25s ease;

}

#back-button:hover{
    opacity: 100%;
}

body{
    background-color: var(--total-bg-color);
}

/* Color para los encabezados */
.headers-color{
    background-color: var(--headers-color);
}

.board-color{
    background-color: var(--board-color);
}

/* Párrafos */
p{
    margin-bottom: 0px;
}

/* INDEX */

/* FONDO */
/* Columnas */
.col-columna {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    justify-content: center;
}

/* TARJETAS */
.card-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem; 
    border-radius: var(--border-radius-1);
    background-color: var(--total-bg-color);
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
    will-change: transform;
    height: 100%;
}

.card-proyecto-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem; 
    border-radius: var(--border-radius-1);
    background-color: var(--total-bg-color);
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
    will-change: transform;
}

.card-proyecto-center:hover{
    transform: rotate(2deg) scale(1.05);
    background-color: rgb(180, 218, 240);
}

.card-proyecto:hover{
    transform: rotate(2deg) scale(1.05);
    background-color: rgb(180, 218, 240);
}

/* Texto tarjeta */
.p-card {
    text-align: center;
    font-size: var(--font-size);
    margin: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
}


/* SOBRE MI */

@media (max-width: 450px){
    /* INDEX */
    .col-columna-querie{
        gap: 50vw;
        width: 31%;
    }

    .card-proyecto-querie{
        height: 100%;
    }

    .p-card-querie{
        font-size: medium;
    }

    /* SOBRE MI */


}
