/* Aquí van todas las variables */
:root{
    --principal-font: sans-serif;
    --font-size: larger;
    --total-bg-color: rgb(200, 247, 255);
}

body{
    background-color: var(--total-bg-color);
}

/* Color para los encabezados */
.headers-color{
    background-color: blanchedalmond;
}

.board-color{
    background-color: burlywood;
}

/* Párrafos */
p{
    margin-bottom: 0px;
}

/* FONDO */
/* Columnas */
.col-columna {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    justify-content: center;
}

/* TARJETAS */
.card-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem; 
    border-radius: 0.25rem;
    background-color: azure;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
    will-change: transform;
    height: 100%;
}

.card-proyecto-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem; 
    border-radius: 0.25rem;
    background-color: azure;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;
    will-change: transform;
}

.card-proyecto:hover {
    transform: rotate(2deg) scale(1.05);
    background-color: rgb(180, 218, 240);
}

/* Texto tarjeta */
.p-card {
    text-align: center;
    font-size: var(--font-size);
    margin: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
}



@media (max-width: 450px){
    .col-columna-querie{
        gap: 50vw;
        width: 31%;
    }

    .card-proyecto-querie{
        height: 100%;
    }

    .p-card-querie{
        font-size: medium;
    }
}
